<div class="experience-card">

  <h2>{{ post.title }}</h2>

  {% if post.institution %}
  <div class="experience-meta">
    <strong>{{ post.institution }}</strong>
  </div>
  {% endif %}

  {% if post.duration %}
  <p>
    <strong>Duration:</strong> {{ post.duration }}
  </p>
  {% endif %}

  {% if post.department %}
  <p>
    <strong>Department:</strong> {{ post.department }}
  </p>
  {% endif %}

  {% if post.mentor %}
  <p>
  <strong>Mentor:</strong>
  {% if post.mentorurl %}
    <a href="{{ post.mentorurl }}" target="_blank" rel="noopener noreferrer">
      {{ post.mentor }}
    </a>
  {% else %}
    {{ post.mentor }}
  {% endif %}
  </p>
  {% endif %}

  {% if post.supervisors %}
  <p>
  <strong>Ph.D. Supervisors:</strong>

  {% for supervisor in post.supervisors %}

    {% if supervisor.url %}
      <a href="{{ supervisor.url }}"
         target="_blank"
         rel="noopener noreferrer">
        {{ supervisor.name }}
      </a>
    {% else %}
      {{ supervisor.name }}
    {% endif %}

    {% unless forloop.last %}
      &nbsp;•&nbsp;
    {% endunless %}

  {% endfor %}
</p>
{% endif %}

  {% if post.summary %}
  <p class="experience-summary">
    {{ post.summary }}
  </p>
  {% endif %}

  {% if post.tags %}
  <div class="experience-tags">
    {% for tag in post.tags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  {% if post.url %}
  <div class="research-buttons">
    <a href="{{ base_path }}{{ post.url }}">Details</a>
  </div>
  {% endif %}

</div>
